body {
    background: #e2faca;
}


.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider__items {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item {
    position: relative;
    left: 0;
    display: none;
    width: 600px;
}

.slider__item.active {
    display: flex;
    animation: showSlide .8s;
}

@keyframes showSlide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slider__item img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.slider__prev,
.slider__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: all .3s;
}

.slider__prev:hover,
.slider__next:hover {
    transition: all .3s;
    background-color: rgba(0, 0, 0, 1);
}

.slider__prev {
    left: -60px;
}

.slider__next {
    right: -60px;
}

.slider__prev::before,
.slider__next::before {
    content: "";
    position: absolute;
    font-size: 30px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider__prev::before {
    content: "‹";
}


.slider__next::before {
    content: "›";
}

.slider__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.slider__dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
}

.slider__dot.active {
    background-color: rgba(0, 0, 0, 1);
}

.slider__dot+.slider__dot {
    margin-left: 5px;
}

@media (max-width: 768px) {
    .slider__item {
        width: 450px;
    }
}

@media (max-width: 576px) {

    .slider__prev,
    .slider__next {
        top: -60px;
        transform: translateY(0);
    }

    .slider__item {
        width: 90vw;
    }

    .slider__prev {
        left: 0;
    }
    
    .slider__next {
        right: 0;
    }

    .slider__dots {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
}